* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 1.3em;
    margin-bottom: 10px;
    width: 100%;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    width: 100%;
}

.logo_item {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.descricao {
    font-size: 1em;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.site_oficial {
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.como_chegar {
    margin: 20px;
    width: 100%;
}
.mapa{
    width: 100%;    
}

.rota {
    font-size: 0.8em;    
    margin-left: 10px;
}

ul {
    text-align: left;
    list-style-position: inside;
    
}

.carro {
    width: 100%;
}

.carro_img {
    width: 100%;
}

figcaption {
    text-align: center;
    font-size: 1.2em;    
}

.avaliar {
    margin-left: 20px;
    width: 100%;
}

input {
    display: block;
    height: 30px;
    width: 280px;
    margin-bottom: 5px;
    color: black;
    border-radius: 5px;
    border-width: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

input:hover {
    border: solid blueviolet;
}

textarea {
    display: block;
    margin-bottom: 5px;
    justify-content: center;
    width: 280px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

textarea:hover {
    border-bottom: solid blueviolet;
}

.bottom {
    text-align: left;
}

button {
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    border-color: white;
    background-color: blueviolet;
    padding: 10px 30px;
    color: white;
}

button:hover {
    border-color: blueviolet;
}

.linha_horizontal {
    border-top: 3px solid black;
    border-radius: 5px;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 20px;
    margin-top: 10px;
}

@media(min-width: 600px) {
    .logo_item {
        width: 50vw;
    }

    .site_oficial {
        font-size: 1.5em;
    }

    .descricao {
        font-size: 1.5em;;
    }

    .como_chegar {
        text-align: center;
    }
    
    .mapa {
        width: 100%;        
    }

    .rota {
        font-size: 1.2em;
    }

    .carro {
        width: 50%;
    }
}
@media(min-width: 1024px) {
    .logo_item {
        width: 50vw;
    }

    .site_oficial {
        font-size: 1.5em;
    }

    .descricao {
        font-size: 1.5em;;
    }

    .como_chegar {
        text-align: left;
    }

    .mapa {
        width: 60%;
    }

    .rota {
        font-size: 1.2em;
    }

    .carro {
        width: 33%;
    }
}

